.o_main_navbar {
    background-color: #1675a9;
    border-bottom: 1px solid #1675a9;
}

.o_menu_entry_lvl_1:hover {
    background-color: #1675a9;
}


.o_menu_entry_lvl_1 {
    background-color: #1675a9;
}


a.o_menu_entry_lvl_1:hover {
    background-color: #1675a9;
}


a.o_menu_entry_lvl_1 {
    background-color: #1675a9;
}

.o_main_navbar > a:hover {
    background-color: #1675a9;
}


.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #1675a9;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: #1675a9;
}

